/* good default vite styles */
:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default padding */
ul,
ol {
	padding: 0;
}

/* remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* good default vite styles */
a {
	font-weight: 500;
	text-decoration: inherit;
}

/* set core body defaults */
body {
	min-height: 100vh;
}

/* remove list styles on ul, ol elements with a class attribute */
ul,
ol {
	list-style: none;
}

/* make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

.ghost-white {
	border-radius: 16px;
	border: 1px solid #e5ebf0;
	backdrop-filter: blur(25px);
	-webkit-backdrop-filter: blur(25px);
	background-color: hsla(0, 0%, 100%, .8);
}

